<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylea.css">
</head>
<body>


    <div class="container">
        <div class="card">
            <div class="inner-box" id="card">

                <!-- Card Front -->
                <div class="card-front">
                    <h2>LOGIN</h2>
                    <form action="/books">
                        <input type="email" class="input-box" placeholder="Your email id"  required>
                        <input type="password" class="input-box" placeholder="Your password" required>
                        <button type="submit" class="submit-btn">Submit</button>
                        <input type="checkbox"><span>Remember me</span>

                    </form>
                    <button type="button" class="btn" onclick="openRegister()">I'm new to this library</button>
                    <a href="">Forogt Password</a>
                </div>
                    

                    <!-- Card Back           -->
                    <div class="card-back">
                        <h2>REGISTER</h2>
                        <form action="/">
                            <input type="text" class="input-box" placeholder="Your name" required>
                            <input type="email" class="input-box" placeholder="Your email-id"  required>
                            <input type="password" class="input-box" placeholder="Your password" required>
                            <button type="submit" class="submit-btn">Submit</button>
                            <input type="checkbox"><span>Remember me</span>
    
                        </form>
                        <button type="button" class="btn" onclick="openLogin()">I've an account</button>
                        <a href="">Forogt Password</a>
                        
                    </div>
                
            </div>
        </div>

    </div>
    <script src="/js/script.js"></script>
    
</body>
</html>