<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library - Login</title>
    <link rel="stylesheet" href="./style1.css">
</head>
<body>
    
    <form action="index.ejs" class="box" method="post">
        <h1>Login</h1>
        <input type="text" name="" placeholder="Enter username" id="username">
        <input type="password" name="" placeholder="Enter password" id="password">
        <input type="submit" name="" value="login" >

    </form>
    
<script src="/public/js/login.js"></script>
</body>
</html>